@charset "UTF-8";
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

code small,
kbd small,
samp small,
pre small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-file-upload-button summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.scroll-up {
  position: fixed;
  right: 5px;
  bottom: 10px;
}

.scroll-up-link {
  color: rgba(157, 164, 189, 0.6);
}

.scroll-up-link:hover, .scroll-up-link:focus {
  color: #ff6c00;
}

.scroll-up-icon {
  width: 25px;
  height: 25px;
  fill: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.scroll-up-link, .dark-button, .light-button, .appointment-submit-button, .header-link, .overlay .nav-menu-link {
  display: inline-block;
  text-decoration: none;
}

.header li, .prices-list, .why-us-data-list, .command, .networks, .portfolio, .footer-list, .footer-social-media, .overlay .mobile-menu, .overlay .nav-menu-item, .overlay .header-socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header .container, .about-us, .prices, .why-us, .command-container, .portfolio-container, .appoitment-container, .footer-contacts, .footer-bottom {
  margin-left: auto;
  margin-right: auto;
  padding: 84px 30px;
}

@media screen and (min-width: 480px) {
  .header .container, .about-us, .prices, .why-us, .command-container, .portfolio-container, .appoitment-container, .footer-contacts, .footer-bottom {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header .container, .about-us, .prices, .why-us, .command-container, .portfolio-container, .appoitment-container, .footer-contacts, .footer-bottom {
    width: 768px;
    padding: 100px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header .container, .about-us, .prices, .why-us, .command-container, .portfolio-container, .appoitment-container, .footer-contacts, .footer-bottom {
    width: 1280px;
    padding: 130px 55px;
  }
}

.about-us-title, .prices-title, .why-us-title, .command-title, .appointment-title, .footer-contacts-title {
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (min-width: 480px) {
  .about-us-title, .prices-title, .why-us-title, .command-title, .appointment-title, .footer-contacts-title {
    font-size: 42px;
  }
}

.about-us-subtitle, .prices-subtitle, .why-us-subtitle, .command-subtitle, .portfolio-subtitle, .footer-timetable-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.dark-button, .light-button, .appointment-submit-button {
  margin: 0;
  padding: 12px 20px;
  min-width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-button:hover, .light-button:hover, .appointment-submit-button:hover, .dark-button:focus, .light-button:focus, .appointment-submit-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.dark-button {
  color: #ffffff;
}

.light-button {
  color: #303030;
}

.decorative-line {
  position: relative;
  padding-left: 80px;
  color: #303030;
}

.decorative-line:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  top: 6px;
  left: 0;
}

.header {
  position: relative;
  max-width: 480px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 680px;
  }
}

.header .container {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding: 0;
    width: 628px;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .header .container {
    width: 1125px;
    margin-left: 155px;
  }
}

.header-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.header-link {
  color: #555555;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:active {
  color: #ff6c00;
}

.header-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  fill: currentColor;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    display: none;
    /* пункты меню скрыты */
    z-index: 1;
    background: #ffffff;
    position: absolute;
    top: -50px;
    right: -50px;
    margin: 0;
    padding: 118px 40px 227px;
    width: 337px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__item.menu-order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 1280px) {
  .menu__item.menu-order {
    margin-left: auto;
    margin-right: 40px;
  }
}

.header-transition {
  display: none;
}

.menu__item ul {
  padding: 0;
}

.header-contact {
  margin-top: 64px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-contact {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .header-contact {
    margin-top: 0;
    margin-right: 0;
  }
}

.header-contact-button {
  margin-top: 24px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header-contact-button {
    margin: 0;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

.header-socials-link.decorative-line {
  padding-left: 100px;
}

.header-link-youtube {
  padding-left: 100px;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .header-link-youtube {
    padding-top: 0;
  }
}

.header-content {
  padding-top: 112px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .header-content {
    padding-top: 120px;
    padding-left: 156px;
    max-width: 510px;
  }
}

@media screen and (min-width: 1280px) {
  .header-content {
    padding-top: 184px;
    padding-left: 100px;
    max-width: 600px;
  }
}

.header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin: 20px 0;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .header-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .header-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.header-content-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.header-content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 1280px) {
  .header-content-text {
    padding-right: 100px;
  }
}

.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .slider-wrapper {
    width: 628px;
    left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-wrapper {
    width: 1125px;
    left: 155px;
  }
}

.slider-item-content {
  max-width: 480px;
  height: 580px;
}

@media screen and (min-width: 768px) {
  .slider-item-content {
    width: 628px;
    height: 680px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-item-content {
    width: 1125px;
  }
}

.slider-item-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-1.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-1.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-1@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-1@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-1@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-1@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-1@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-1@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 288dpi) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-1@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-1@3x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-1.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-1@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-1@2x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 3dppx), screen and (min-width: 1280px) and (min-resolution: 288dpi) {
  .slider-item-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-1@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-1@3x.jpg);
  }
}

.slider-item-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-2.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-2.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-2@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-2@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-2@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-2@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-2.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-2.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-2@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-2@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 288dpi) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-2@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-2@3x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-2.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-2.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-2@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-2@2x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 3dppx), screen and (min-width: 1280px) and (min-resolution: 288dpi) {
  .slider-item-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-2@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-2@3x.jpg);
  }
}

.slider-item-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-3.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-3.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-3@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-mobile-3@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-mobile-3@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-3.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-3.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-3@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 288dpi) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-tablet-3@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-tablet-3@3x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-3.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-3.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-3@2x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 3dppx), screen and (min-width: 1280px) and (min-resolution: 288dpi) {
  .slider-item-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/header/Slider-desktop-3@3x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/header/Slider-desktop-3@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .slick-dots {
    width: 35px;
    height: 18px;
    z-index: 10;
    bottom: 330px;
    right: 39px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .slick-dots li {
    width: 10px;
    height: 100%;
  }
  .slick-dots li button::before {
    content: "";
    width: 2px;
    height: 8px;
    top: -5px;
    left: calc(50% - 1px);
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.slick-dots .slick-active button::before {
  -webkit-transform: scaleY(2) translateY(2px);
          transform: scaleY(2) translateY(2px);
}

.slick-prev, .slick-next {
  z-index: 10;
  width: 60px;
  height: 24px;
  color: rgba(157, 164, 189, 0.6);
  border-bottom: 1px solid currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-prev:before, .slick-next:before {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: currentColor;
}

.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  color: #ffffff;
}

.slick-prev {
  text-align: left;
  left: -100px;
}

@media screen and (min-width: 768px) {
  .slick-prev {
    left: 424px;
    top: 616px;
  }
}

@media screen and (min-width: 1280px) {
  .slick-prev {
    left: 924px;
  }
}

.slick-prev:before {
  content: "Назад";
}

.slick-next {
  text-align: right;
  left: 868px;
}

@media screen and (min-width: 768px) {
  .slick-next {
    left: 510px;
    top: 616px;
  }
}

@media screen and (min-width: 1280px) {
  .slick-next {
    left: 1010px;
  }
}

.slick-next:before {
  content: "Вперед";
}

.header-sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-sidebar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #ffffff;
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-sidebar {
    left: 35px;
  }
}

.sidebar-logo {
  margin-top: 32px;
  margin-bottom: 282px;
}

.sidebar-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.sidebar-socials .header-link-youtube {
  padding-left: 40px;
}

.sidebar-socials-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.sidebar-socials-link.decorative-line {
  padding-left: 100px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-right: 24px;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header-main {
    width: 609px;
  }
}

@media screen and (min-width: 1280px) {
  .header-main {
    width: 1125px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 40px 29px 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 40px 55px 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-us .light-button {
  margin-top: 40px;
}

.about-us-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 30px;
  }
  .about-us-img picture {
    width: 330px;
  }
  .about-us-img picture + picture {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 64px;
  }
  .about-us-img picture {
    width: 270px;
  }
  .about-us-img picture + picture {
    margin-top: 0;
    margin-left: 30px;
  }
}

.about-us-title {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-us-title {
    padding-right: 88px;
  }
}

@media screen and (max-width: 1279px) {
  .about-us-title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.text-description-first {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #303030;
}

@media screen and (min-width: 1280px) {
  .text-description-first {
    font-size: 18px;
    line-height: 30px;
  }
}

.text-description-second {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.prices {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-mobile.jpg);
  background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-mobile@3x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-mobile@3x.jpg);
  }
}

@media (min-width: 768px) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-tablet.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-tablet@3x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-tablet@3x.jpg);
  }
}

@media (min-width: 1280px) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-desktop.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-desktop.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(../images/prices/prices-desktop@3x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/prices/prices-desktop@3x.jpg);
  }
}

.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: #ffffff;
}

.prices-list {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  color: #9da4bd;
  padding: 20px 15px;
  margin-bottom: 50px;
}

@media screen and (min-width: 410px) {
  .prices-list {
    padding: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .prices-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
  }
}

.prices-list-one {
  padding-left: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .prices-list-one {
    width: 585px;
    padding: 30px 40px;
    margin-bottom: 0;
  }
}

.prices-list-two {
  padding-left: 0;
}

@media screen and (min-width: 1280px) {
  .prices-list-two {
    width: 585px;
    padding: 30px 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 11px;
  line-height: 2.14;
}

.prices-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 376px) {
  .prices-item {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .prices-item {
    font-size: 18px;
    line-height: 1.67;
  }
}

.button-prices {
  text-align: center;
}

.prices-line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.why-us-title {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why-us-title {
    padding-right: 268px;
  }
}

.why-us-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}

.why-us-data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .why-us-data-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .why-us-data-list {
    margin-right: 130px;
    margin-left: 30px;
  }
}

.why-us-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 30px * 2) / 2);
  height: 133px;
  background-color: #f7f7f7;
  margin-top: 30px;
  padding: 5px;
}

.why-us-list-item:nth-child(2) {
  margin-top: 65px;
  margin-right: 0;
}

.why-us-list-item:nth-child(2n) {
  margin-right: 0;
}

.why-us-list-item:nth-child(3) {
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .why-us-list-item {
    width: 194px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .why-us-list-item {
    width: 210px;
  }
}

@media screen and (min-width: 1280px) {
  .why-us-list-item {
    width: 170px;
  }
  .why-us-list-item:nth-child(1) {
    margin-top: -9px;
  }
  .why-us-list-item:nth-child(2) {
    margin-top: 26px;
  }
}

.why-us-text-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 135px;
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.why-us-digit {
  position: relative;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
}

.why-us .why-us-digit::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  background-image: url(../images/cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  position: absolute;
  top: 20%;
  left: 100%;
  width: 13px;
  height: 13px;
}

@media screen and (min-width: 1280px) {
  .why-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 130px 125px;
  }
  .why-us-list-item:first-child {
    margin-top: 0;
  }
}

.command-section {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .command-container {
    padding: 100px 159px;
  }
}

@media screen and (min-width: 768px) {
  .command {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.command-card {
  margin-bottom: 64px;
  text-align: center;
}

.command-card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .command-card {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .command-card:last-child {
    margin-right: 0;
  }
}

.command-img {
  margin-left: auto;
  margin-right: auto;
}

.command-name {
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  margin-top: 31px;
  margin-bottom: 8px;
  color: #303030;
}

.command-prof {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.network-icon {
  margin-top: 30px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks li:not(:last-child) {
  margin-right: 10px;
}

.networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover, .networks-link:focus {
  color: #ff6c00;
}

.networks-icon {
  fill: currentColor;
}

.portfolio-title {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.portfolio-card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio-card {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .portfolio-card:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio-card {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .portfolio-card:last-child {
    margin-right: 0;
  }
}

.appoitment-container {
  background-color: #191c26;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .appoitment-container {
    width: 50%;
    height: 100%;
  }
}

.appointment-title {
  color: #ffffff;
  white-space: nowrap;
}

.appointment-field {
  margin-bottom: 44px;
}

.appointment-input,
.appointment-textarea {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: #191c26;
  width: 100%;
  max-width: 480px;
  padding-bottom: 8px;
  color: #ff6c00;
  -webkit-transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.appointment-input:focus,
.appointment-textarea:focus {
  border-bottom: 1px solid #ffffff;
}

@media screen and (min-width: 768px) {
  .appointment-input,
  .appointment-textarea {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .appointment-input:hover,
  .appointment-textarea:hover {
    border-bottom: 1px solid #ffffff;
  }
}

.appointment-input {
  padding-bottom: 8px;
}

.appointment-textarea {
  padding-bottom: 60px;
  resize: none;
}

.appointment-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .appointment-field:nth-child(-n + 2) {
    width: calc((100% - 1 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .appointment-field:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .appointment-field.comment {
    width: 100%;
  }
}

.appointment-label,
.appointment-comment {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.appointment-input:focus + .appointment-label,
.appointment-input:not(:placeholder-shown) + .appointment-label, .appointment-input:focus +
.appointment-comment,
.appointment-input:not(:placeholder-shown) +
.appointment-comment {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.appointment-input:not(:placeholder-shown) + .appointment-label, .appointment-input:not(:placeholder-shown) +
.appointment-comment {
  color: rgba(157, 164, 189, 0.4);
}

.appointment-label:hover, .appointment-label:focus,
.appointment-comment:hover,
.appointment-comment:focus {
  color: #ffffff;
}

.appointment-input:hover + .appointment-label, .appointment-input:hover +
.appointment-comment {
  color: #ffffff;
}

.appointment-input:focus + .appointment-label, .appointment-input:focus +
.appointment-comment {
  color: #ffffff;
}

.appointment-textarea:hover + .appointment-label, .appointment-textarea:hover +
.appointment-comment {
  color: #ffffff;
}

.appointment-textarea:focus + .appointment-label, .appointment-textarea:focus +
.appointment-comment {
  color: #ffffff;
}

.appointment-textarea:focus + .appointment-comment,
.appointment-textarea:not(:placeholder-shown) + .appointment-comment {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
}

.appointment-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .appointment-submit {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.appointment-submit-button {
  padding: 12px 38px;
}

@media screen and (min-width: 768px) {
  .apform-first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .desktop-footer {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 644px;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    width: 50%;
    height: 100%;
  }
}

.footer-contacts {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url(../images/footer/contacts-mobile.jpg);
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url(../images/footer/contacts-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-mobile@3x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-mobile@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url(../images/footer/contacts-tablet.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url(../images/footer/contacts-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 288dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-tablet@3x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-tablet@3x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .footer-contacts {
    padding-left: 100px;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url(../images/footer/contacts-desktop.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url(../images/footer/contacts-desktop.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx), screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 3dppx), screen and (min-width: 1280px) and (min-resolution: 288dpi) {
  .footer-contacts {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url("../images/footer/contacts-desktop@3x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../images/footer/contacts-desktop@3x.jpg");
  }
}

.footer-contacts-title {
  color: #ffffff;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .footer-contacts-title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-contacts-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-list {
  margin-bottom: 44px;
}

.footer-list li:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    /*width: calc(100% - 1 * 30px) / 2;*/
    max-width: 330px;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    margin-right: 30px;
  }
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.footer-icon {
  fill: #9da4bd;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.footer-timetable {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .footer-timetable {
    width: calc(100% - 1 * 30px)/2;
  }
}

.footer-timetable-title {
  color: #ffffff;
}

.footer-timetable-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.footer-bottom {
  padding: 44px 30px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-social-media {
  position: absolute;
  top: 44px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer-social-media {
    top: 56px;
  }
}

.footer-social-media-item {
  margin-right: 40px;
}

.footer-social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.footer-social-media-link:hover, .footer-social-media-link:focus, .footer-social-media-link:active {
  color: #ff6c00;
}

.footer-social-media-link.decorative-line {
  padding-left: 100px;
}

.footer-copyright {
  position: absolute;
  top: 80px;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    top: 56px;
  }
}

.header-menu-button {
  position: absolute;
  padding: 12px 8px;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  z-index: 1;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}

.header-menu-button:hover, .header-menu-button:focus {
  color: #ff6c00;
}

.header-menu-button-icon {
  fill: currentColor;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}

.overlay .menu-wrapper {
  max-width: 480px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.overlay-is-hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay .mobile-menu {
  width: 337px;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 118px 0 118px 40px;
  -webkit-transform: translateX(480px);
          transform: translateX(480px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay .mobile-menu-animation {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.overlay .mobile-menu-button {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  z-index: 3;
  padding-top: 7px;
  padding-left: 4px;
  color: #000000;
  border: none;
  background-color: transparent;
}

.overlay .mobile-menu-button:hover, .overlay .mobile-menu-button:focus {
  color: #ff6c00;
}

.overlay .mobile-menu-button-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.overlay .mobile-menu-item {
  padding-left: 0;
}

.overlay .mobile-menu-item:not(:last-child) {
  margin-bottom: 64px;
}

.overlay .nav-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.overlay .nav-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #555555;
}

.overlay .nav-menu-link:hover, .overlay .nav-menu-link:focus {
  color: #ff6c00;
}
/*# sourceMappingURL=main.css.map */