.about-us {
	margin-left: auto;
	margin-right: auto;
	padding: 84px 30px;

	@media screen and (min-width: $mobile) {
		width: 480px;
	}

	@media screen and (min-width: $tablet) {
		width: 768px;
		display: flex;
		padding: 100px 39px;
	}

	@media screen and (min-width: $desktop) {
		width: 1280px;
		padding: 130px 55px;
	}
	.about-us-img {
		display: none;
		@media screen and (min-width: $tablet) {
			display: block;
			margin-right: 30px;
			picture {
				display: block;
			}
			picture + picture {
				margin-top: 30px;
			}
		}
		@media screen and (min-width: $desktop) {
			display: flex;
			justify-content: space-between;
			margin-right: 64px;
			picture {
				min-width: 270px;
			}
			picture + picture {
				margin-top: 0;
				margin-left: 30px;
			}
		}
	}

	.subtitle {
		@extend %section-subtitle;
		color: $title-text-color;
		margin-bottom: 20px;
	}

	.section-title {
		color: $title-text-color;
		margin-bottom: 20px;

		@media screen and (max-width: 1279px) {
			font-size: 28px;
			line-height: 33px;
		}
	}

	.text-description-first {
		margin-bottom: 20px;

		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: $title-text-color;

		@media screen and (min-width: $desktop) {
			font-size: 18px;
			line-height: 30px;
		}
	}
	.text-description-second {
		@extend %main-text;
	}

	.light-button {
		margin-top: 40px;
	}
}
