.command-section {
	background-color: $secondary-background-color;
}
.command-container {
	@extend %content-container;

	@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
		padding: 100px 159px;
	}
}
.command-subtitle {
	@extend %section-subtitle;
}
.command-title {
	@extend %section-title;
}

.command {
	@extend %reset-list;

	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.command-card {
	margin-bottom: 64px;
	text-align: center;
	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: $desktop) {
		width: calc((100% - 30px * 2) / 3);
		margin-right: 30px;
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}
.command-img {
	margin-left: auto;
	margin-right: auto;
}

.command-name {
	font-size: 18px;
	line-height: 1.38;
	letter-spacing: 0.02em;
	margin-top: 31px;
	margin-bottom: 8px;
	color: $title-text-color;
}
.command-prof {
	font-size: 14px;
	line-height: 1.35;
	letter-spacing: 0.02em;
	color: $accent-color;
}
.network-icon {
	margin-top: 30px;
}
.networks {
	@extend %reset-list;
	display: flex;
	justify-content: center;
}
.networks li {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.networks-link {
	display: flex;
	padding: 12px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: $primary-background-color;
	color: $title-text-color;
	@include transition(color);
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.networks-icon {
	fill: currentColor;
}
