.appoitment-container {
	@extend %content-container;
	background-color: $dark-background-color;
	text-align: center;

	cursor: pointer;

	@media screen and (min-width: $desktop) {
		width: 50%;
		height: 100%;
	}
}
.appointment-title {
	@extend %section-title;
	color: $primary-background-color;
	white-space: nowrap;
}
.appointment-field {
	margin-bottom: 44px;
}
.appointment-input,
.appointment-textarea {
	border: none;
	border-bottom: 1px solid $form-text-color;
	background-color: $dark-background-color;
	width: 100%;
	max-width: 480px;

	padding-bottom: 8px;

	color: $accent-color;

	@include transition(border-bottom);

	&:focus {
		border-bottom: 1px solid $primary-background-color;
	}

	@media screen and (min-width: $tablet) {
		max-width: 768px;
	}

	@media screen and (min-width: $desktop) {
		&:hover {
			border-bottom: 1px solid $primary-background-color;
		}
	}
}
.appointment-input {
	padding-bottom: 8px;
}
.appointment-textarea {
	padding-bottom: 60px;
	resize: none;
}
.appointment-field {
	position: relative;
	display: flex;

	&:nth-child(-n + 2) {
		@media screen and (min-width: $tablet) {
			width: calc((100% - 1 * 30px) / 2);
		}
	}

	&:first-child {
		@media screen and (min-width: $tablet) {
			margin-right: 30px;
		}
	}
}
.appointment-field.comment {
	@media screen and (min-width: $tablet) {
		width: 100%;
	}
}
.appointment-label,
.appointment-comment {
	position: absolute;
	left: 0;
	top: 0;

	transform: translateY(0%);

	color: $form-text-color;

	@include transition(transform);
	@include transition(color);

	.appointment-input:focus + &,
	.appointment-input:not(:placeholder-shown) + & {
		transform: translateY(30px);
	}

	.appointment-input:not(:placeholder-shown) + & {
		color: $form-text-color;
	}

	&:hover,
	&:focus {
		color: $primary-background-color;
	}

	.appointment-input:hover + & {
		color: $primary-background-color;
	}
	.appointment-input:focus + & {
		color: $primary-background-color;
	}
	.appointment-textarea:hover + & {
		color: $primary-background-color;
	}
	.appointment-textarea:focus + & {
		color: $primary-background-color;
	}
}
.appointment-comment {
	.appointment-textarea:focus + &,
	.appointment-textarea:not(:placeholder-shown) + & {
		transform: translateY(140px);
	}
}
.appointment-submit {
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: $tablet) {
		justify-content: flex-start;
	}
}
.appointment-submit-button {
	@extend %button;
	padding: 12px 38px;
}
.apform-first-line {
	@media screen and (min-width: $tablet) {
		display: flex;
	}
}
