.header {
	position: relative; // for slider
	max-width: $mobile;
	height: 580px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	transition: 0.5s;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	@media screen and(min-width:$tablet) {
		max-width: $tablet;
	}
	@media screen and (min-width: $desktop) {
		max-width: $desktop;
	}
	@media screen and (min-width: $tablet) {
		height: 680px;
	}
}

.header .container {
	@extend %content-container;
	padding-top: 40px;
	@media screen and (min-width: $tablet) {
		padding: 0;
		width: $tablet - 120px - 20px;
		margin-left: 120px;
	}
	@media screen and (min-width: $desktop) {
		width: $desktop - 155px;
		margin-left: 155px;
	}
}
.header li {
	@extend %reset-list;
}
.header-link {
	@extend %reset-link;
	color: $main-text-color;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.1em;
	@include transition(color);

	&:hover,
	&:active {
		color: $accent-color;
	}
}
.header-navigation {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	fill: currentColor;
	color: #ffffff;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.menuBurger {
	display: none; /* иконка гамбургер скрыта */
	fill: currentColor;
	color: #ffffff;
}
.header-wrapper {
	@media screen and (max-width: $tablet - 1px) {
		display: none; /* пункты меню скрыты */
		z-index: 1;
		background: #ffffff;
		position: absolute;
		top: -50px;
		right: -50px;
		margin: 0;
		padding: 118px 40px 227px;
		width: 337px;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: flex-end;
		padding-left: 0;
		margin: 0;
	}
	@media screen and (min-width: $desktop) {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.menu__item {
		@media screen and (max-width: $tablet - 1px) {
			float: none; /* пункты меню в столбцах */
		}
		&.menu-order {
			@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
				order: 1;
			}
			@media screen and (min-width: $desktop) {
				margin-left: auto;
				margin-right: 40px;
			}
		}
	}

	.menuBurger {
		display: inline-block; /* иконка гамбургер видна */
	}
}

.header-transition {
	display: none;
}

.menu__item ul {
	padding: 0;
}
.header-contact {
	margin-top: 64px;
	text-transform: uppercase;
	@media screen and (min-width: $tablet) {
		font-size: 12px;
		line-height: 16px;
		margin-top: 0;
		color: $primary-background-color;
		margin-top: 20px;
		margin-right: 19px;
	}
	@media screen and (min-width: $desktop) {
		margin-top: 0;
		margin-right: 0;
	}
}
.header-contact-button {
	margin-top: 24px;
	margin-bottom: 64px;
	@media screen and (min-width: $tablet) {
		margin: 0;
		color: $primary-background-color;
	}
}
.header-socials {
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.header-socials-link {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.2em;
}
.header-link-youtube {
	padding-left: 80px;
}

.header__menu-button {
	position: absolute;
	padding: 12px 8px;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	z-index: 100;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.menu-button__close {
	opacity: 0;
}
.menu-button__open {
	fill: $primary-background-color;
}
.menu-button--is-open {
	.menu-button__close {
		opacity: 1;
	}
	.menu-button__open {
		opacity: 0;
	}
}
.header__menu--is-open {
	display: block;
}
.menu-buton__open {
	fill: currentColor;
	color: $primary-background-color;
}

//header-content
.header-content {
	padding-top: 112px;
	padding-right: 112px;
	@media screen and (min-width: $tablet) {
		padding-top: 120px;
		padding-left: 156px;
		padding-right: 104px;
	}
	@media screen and (min-width: $desktop) {
		padding-top: 184px;
		padding-left: 100px;
		padding-right: 525px;
	}
}
.header-title {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	margin: 20px 0;
	color: #ffffff;
	@media screen and (min-width: $desktop) {
		font-size: 72px;
		line-height: 1.18;
	}
}
.header-content-subtitle {
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $header-prices-subtitle-color;
}
.header-content-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: $header-prices-footer-gray-color;
	@media screen and (min-width: $desktop) {
		padding-right: 100px;
	}
}

//header-sidebar
.header-sidebar {
	display: none;
	@media screen and (min-width: $tablet) {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-around;
		background-color: #ffffff;
		width: 120px;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media screen and (min-width: $desktop) {
		left: 35px;
	}
}
.sidebar-logo {
	margin-top: 32px;
	margin-bottom: 282px;
}

.sidebar-socials {
	display: flex;
	transform: rotate(-90deg);
}
.sidebar-socials-link {
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
}
.header-menu {
	@media screen and (min-width: $tablet) {
		display: flex;
	}
	&-link {
		@media screen and (min-width: $tablet) {
			display: flex;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.1em;
			margin-right: 24px;
			color: #ffffff;
		}
	}
}

.header-main {
	@media screen and (min-width: $tablet) {
		width: 609px;
	}
	@media screen and (min-width: $desktop) {
		width: 1125px;
	}
}

.wrapper {
	@media screen and (min-width: $tablet) {
		width: 100%;
		padding: 40px 29px 0 24px;
	}
	@media screen and (min-width: $desktop) {
		padding: 40px 55px 0 40px;
	}
}
