.header-menu-button {
	position: absolute;
	padding: 12px 8px;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	z-index: 1;
	color: $primary-background-color;
	@include transition(color);
	@media screen and (min-width: $tablet) {
		display: none;
	}
	&:hover,
	&:focus {
		color: $accent-color;
	}
	&-icon {
		fill: currentColor;
	}
}
.overlay {
	@media screen and (min-width: $tablet) {
		display: none;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	@include transition(opacity);
	background-color: rgba(0, 0, 0, 0.2);
	.menu-wrapper {
		max-width: 480px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	&-is-hidden {
		opacity: 0;
		pointer-events: none;
	}
	.mobile-menu {
		@extend %reset-list;
		width: 337px;
		height: 100%;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		max-height: 100%;
		overflow-y: scroll;
		background-color: $primary-background-color;
		padding: 118px 0 118px 40px;
		transform: translateX(480px);
		@include transition(transform);
		&-animation {
			transform: translate(0);
		}
	}
	.mobile-menu-button {
		position: absolute;
		top: 48px;
		right: 31px;
		width: 40px;
		height: 40px;
		z-index: 3;
		padding-top: 7px;
		padding-left: 4px;
		color: #000000;
		border: none;
		background-color: transparent;
		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
	.mobile-menu-button-icon {
		fill: currentColor;
		width: 20px;
		height: 20px;
	}
	.mobile-menu-item {
		padding-left: 0;
		&:not(:last-child) {
			margin-bottom: 64px;
		}
	}

	.nav-menu-item {
		@extend %reset-list;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	.nav-menu-link {
		@extend %reset-link;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.39;
		letter-spacing: 0.1em;
		color: $main-text-color;
		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
	.header-socials {
		@extend %reset-list;
	}
}
