.prices {
	@extend %content-container;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
		url(../../images/prices/prices-mob.jpg);

	@media (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../../images/prices/prices-mob2x.jpg);
	}
}

@media (min-width: 768px) {
	.prices {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../../images/prices/prices-tab.jpg);
		@media (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../../images/prices/prices-tab2x.jpg);
		}
	}
}

@media (min-width: 1280px) {
	.prices {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../../images/prices/prices-desk.jpg);
		@media (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../../images/prices/prices-desk2x.jpg);
		}
	}
}

.subtitle {
	@extend %section-subtitle;
	color: $header-prices-subtitle-color;
	margin-bottom: 20px;
}

.section-title {
	@extend %section-title;
	color: $primary-background-color;
}

.prices-list {
	@extend %reset-list;
	background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
	color: $header-prices-footer-gray-color;
	padding: 30px;
	margin-bottom: 50px;
	@media screen and (min-width: 1280px) {
		display: inline-flex;
		padding: 0;
	}
}

.prices-list-one {
	margin-bottom: 20px;
	@media screen and (min-width: 1280px) {
		width: 585px;
		padding: 30px 40px;
		margin-bottom: 0;
	}
}

.prices-list-two {
	@media screen and (min-width: 1280px) {
		width: 585px;
		padding: 30px 40px;
		background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
	}
}

.prices-item {
	display: flex;
	margin-bottom: 20px;
	align-items: baseline;
	font-size: 14px;
	line-height: 2.14;
	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 768px) {
		font-size: 18px;
		line-height: 1.67;
	}
}
.button-prices {
	margin-right: auto;
	margin-left: auto;
}

.prices-line {
	flex-grow: 1;
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}
