.prices {
	@extend %content-container;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
		url(../images/prices/prices-mobile.jpg);
	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../images/prices/prices-mobile@2x.jpg);
	}
	@media screen and (min-device-pixel-ratio: 3),
		screen and (min-resolution: 288dpi),
		screen and (min-resolution: 3dppx) {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../images/prices/prices-mobile@3x.jpg);
	}
	@media (min-width: $tablet) {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../images/prices/prices-tablet.jpg);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../images/prices/prices-tablet@2x.jpg);
		}
		@media screen and (min-device-pixel-ratio: 3),
			screen and (min-resolution: 288dpi),
			screen and (min-resolution: 3dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../images/prices/prices-tablet@3x.jpg);
		}
	}
	@media (min-width: $desktop) {
		background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
			url(../images/prices/prices-desktop.jpg);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../images/prices/prices-desktop@2x.jpg);
		}
		@media screen and (min-device-pixel-ratio: 3),
			screen and (min-resolution: 288dpi),
			screen and (min-resolution: 3dppx) {
			background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
				url(../images/prices/prices-desktop@3x.jpg);
		}
	}
}
.prices-subtitle {
	@extend %section-subtitle;
	color: $header-prices-subtitle-color;
}
.prices-title {
	@extend %section-title;
	color: $primary-background-color;
}
.prices-list {
	@extend %reset-list;
	background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
	color: $header-prices-footer-gray-color;
	padding: 20px 15px;
	margin-bottom: 50px;
	@media screen and (min-width: 410px) {
		padding: 30px;
	}
	@media screen and (min-width: $desktop) {
		display: inline-flex;
		padding: 0;
	}
}
.prices-list-one {
	padding-left: 0;
	margin-bottom: 20px;
	@media screen and (min-width: $desktop) {
		width: 585px;
		padding: 30px 40px;
		margin-bottom: 0;
	}
}
.prices-list-two {
	padding-left: 0;
	@media screen and (min-width: $desktop) {
		width: 585px;
		padding: 30px 40px;
		background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
	}
}
.prices-item {
	display: flex;
	margin-bottom: 20px;
	align-items: baseline;
	font-size: 11px;
	line-height: 2.14;
	&:last-child {
		margin-bottom: 0;
	}
	@media screen and (min-width: 376px) {
		font-size: 14px;
	}
	@media screen and (min-width: $tablet) {
		font-size: 18px;
		line-height: 1.67;
	}
}
.button-prices {
	text-align: center;
}
.prices-line {
	flex-grow: 1;
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}
