.why-us {
	@extend %content-container;

	&-subtitle {
		@extend %section-subtitle;
	}

	&-title {
		@extend %section-title;
		margin-bottom: 20px;
		@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
			padding-right: 268px;
		}
	}

	&-description {
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		margin-bottom: 14px;
	}
	&-data-list {
		@extend %reset-list;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		@media screen and(min-width:$tablet) {
			justify-content: flex-end;
		}

		@media screen and(min-width:$desktop) {
			margin-right: 130px;
			margin-left: 30px;
		}
	}
	&-list-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: calc((100% - 30px * 2) / 2);

		height: 133px;

		background-color: $secondary-background-color;

		margin-top: 30px;
		padding: 5px;

		&:nth-child(2) {
			margin-top: 65px;
			margin-right: 0;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(3) {
			margin-top: 0;
		}
		@media screen and(min-width:$mobile) {
			width: 194px;
			margin-right: 30px;
		}

		@media screen and(min-width:$tablet) {
			width: 210px;
		}
		@media screen and(min-width:$desktop) {
			width: 170px;

			&:nth-child(1) {
				margin-top: -9px;
			}

			&:nth-child(2) {
				margin-top: 26px;
			}
		}
	}
	&-text-unit {
		display: flex;
		flex-direction: column;
		text-align: center;

		max-width: 135px;
		width: 100%;

		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		color: $title-text-color;
	}

	&-digit {
		position: relative;
		margin-bottom: 6px;
		font-weight: bold;
		font-size: 42px;
		line-height: 57px;
	}

	.why-us-digit::after {
		display: flex;
		justify-content: center;
		align-items: center;
		content: "";

		background-image: url(../images/cross.svg);

		background-size: contain;
		background-repeat: no-repeat;
		background-origin: border-box;

		position: absolute;

		top: 20%;
		left: 100%;
		width: 13px;
		height: 13px;
	}

	@media screen and(min-width:$desktop) {
		display: flex;
		flex-direction: row-reverse;
		padding: 130px 125px;

		&-list-item:first-child {
			margin-top: 0;
		}
	}
}
